{% extends "base.html" %}
{% block title %}Home{% endblock %} 
{% block content%}
    
    <div class="container p-6">
        <div class="col-xl-12 col-md-6 container-flex">

            <div>
                <h3 class="mt-5 fw-bold custom-dark-blue">Welcome to StudySphere!</h3>
                <h6 class="fw-bold fs-14 custom-lighter-blue mb-4">Sign in to continue.</h6>

                <form class="login col-md-8" method="POST">

                    <div class="mb-3 form-group">
                        <label for="email" class="custom-lighter-blue mb-2 fw-bold">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
                    </div>

                    <div class="mb-2 form-group">
                        <label for="password" class="custom-lighter-blue mb-2 fw-bold">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"/>
                    </div>
                    <br />
                    <button class="btn btn-custom-blue fw-bold" type="submit">
                        Login
                    </button>

                </form>

            </div>

        </div>
    </div>
    
 {%endblock%}