{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="col-xl-12 col-md-6 container-flex">
        
        {% if question %}
            <h1 class="mt-4 text-primary"> {{question_data}} </h1>
        {% endif %}

        <h2 class="text-primary-light mt-4">Your Response</h2>
        
        <form action="/respond_card" method="POST"></form>

            <div class="mb-3 form group">
                <label for="text" class="form-label mt-5">Enter a Text Reply</label>
                <textarea name="answer" id="answer" class="form-control" cols="30" rows="10" placeholder="Type your response..." required></textarea>
                <input type="hidden" id="question" name="question_id" value="{{question_id}}">
            </div>

            </br>
            <div class="row d-flex justify-content-between align-items-end form-group">
                <div class="col-12 col-md-8">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </div>
            
        </form>

        <h2> <span class="badge text-bg-danger mt-4">More Answers?</span></h2>
                {% for answer in answers %}
                <form method="POST">\
                    <div class="container bs-primary-border">
                        <div class="card">
                            <p class="text-light" href="{{ url_for('views.respond_card', answer_id=answer.id) }}">{{ answer.data }}</p>
                        </div>
                    </div>
                    <input type="hidden" name="answer_id" value="{{ answer.id }}">
                </form>
                {% endfor %}
            </ul>
            
        </div>

    </div>

</div>

{% endblock %}