{% extends "base.html" %}
{% block title %}Home{% endblock %} 
{% block content%}

    <div class="container p-6">
        <div class="col-xl-12 col-md-6 container-flex">

            <div>
                <h5 class="mt-5 fw-bold">Welcome!</h5>
                <p class="fw-bold fs-14 ">Sign up to continue.</p>

                <form class="login col-md-8" method="POST">

                    <div class="form-outline form-group mb-4">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
                    </div>

                    <div class="form-outline form-group mb-4">
                        <label for="firstName">First Name</label>
                        <input type="firstName" class="form-control" id="firstName" name="firstName" placeholder="Enter name"/>
                    </div>

                    <div class="form-outline form-group mb-4">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password" name="password1" placeholder="Enter password"/>
                    </div>

                    <div class="form-outline form-group mb-4">
                        <label for="password2">Confirm Password</label>
                        <input type="password" class="form-control" id="password"  name="password2" placeholder="Confirm password"/>
                    </div>

                    <button class="btn btn-dark" type="submit">
                        Sign Up
                    </button>
                    
                 </form>

            </div>

        </div>
    </div>

    {%endblock%}