{% extends "base.html" %}
{% block title %}Home{% endblock %} 
{% block content%}

    <div class="container p-6">
        <div class="col-xl-12 col-md-6 container-flex">

            <div>
                <h3 class="mt-5 fw-bold custom-dark-blue">Welcome to StudySphere!</h3>
                <h6 class="fw-bold fs-14 custom-lighter-blue">Sign up to continue.</h6>

                <form class="login col-md-8" method="POST">

                    <div class="form-outline form-group mb-4">
                        <label for="email" class="custom-lighter-blue mb-2 fw-bold">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
                    </div>

                    <div class="form-outline form-group mb-4">
                        <label for="firstName" class="custom-lighter-blue mb-2 fw-bold">First Name</label>
                        <input type="firstName" class="form-control" id="firstName" name="firstName" placeholder="Enter name"/>
                    </div>

                    <div class="form-outline form-group mb-4">
                        <label for="password1" class="custom-lighter-blue mb-2 fw-bold">Password</label>
                        <input type="password" class="form-control" id="password" name="password1" placeholder="Enter password"/>
                    </div>

                    <div class="form-outline form-group mb-4 fw-bold">
                        <label for="password2" class="custom-lighter-blue mb-2">Confirm Password</label>
                        <input type="password" class="form-control" id="password"  name="password2" placeholder="Confirm password"/>
                    </div>

                    <button class="btn btn-custom-blue fw-bold" type="submit">
                        Sign Up
                    </button>
                    
                 </form>

            </div>

        </div>
    </div>

    {%endblock%}