.page-bg{
  background-color: #c6d3e3!important; 
}

.form-bg{
  background-color: #304674!important; 
  color: white;
}

::placeholder {
  color: #98bad5;
}

.btn-custom-blue {
  background-color:#98bad5;
  color: #304674; 
  font-size: 20px;
  border: 2px solid #304674; 
  padding: 10px; 
  width: 30%; 
  box-sizing: border-box;
  border-radius: 20px; 
  margin-top: 10px;
  text-decoration: none;
}

.bg-light-blue{
  background-color:#98bad5;
  color: #c6d3e3;
  font-size: 20px;
  border: 2px solid #304674; 
  padding: 10px; 
  width: 30%; 
  box-sizing: border-box;
  border-radius: 20px; 
  margin-top: 10px;
  text-decoration: none;
}

.btn-custom-blue:hover {
  background-color: #304674; 
  border: 2px solid #98bad5;
  color: #98bad5;
}

.img{
  height:250px;
  width:250px;
}

.custom-dark-blue{
  color: #304674;
}

.custom-lighter-blue{
  color: #6181c5;
}

.logo-size{
  height:70px;
  width: 70px;
}

.text-bright-blue{
  color:#73aad7;
}