/*body, html {
  height: 100%;
  margin: 0;
  display: flex;
  background-color: #57402A;
}

.container {
  max-width: 100%;
  padding: 20px;
  background-color: #334228;
  border-radius: 10px;
  border: 4px solid #B99470; 
}

.brown-textbox {
  background-color: #B99470; 
  color: white; 
  border: 4px solid #57402A; 
  padding: 10px; 
  font-size: 16px; 
  width: 100%;
  box-sizing: border-box; 
  border-radius: 10px; 
  margin-bottom: 10px; 
}

.btn {
  background-color: #5F6F52; 
  border: 4px solid #B99470; 
  width: 100%; 
  margin-top: 10px; 
}

.btn:hover {
  background-color: #1f241b; 
  border: 2px solid #0a0a0a; 

}

.custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: antiquewhite;
  border-radius: 10px;
}

.white {
  color: white;
}*/

.text-primary{
  color: 	#304674!important;
}

.nav-bg{
  background-color: #98bad5;
}

.page-bg{
  background-color: #c6d3e3;
}

bg-primary{
  background-color: #c6d3e3!important; 
}